<!DOCTYPE html>
<html>
  <head>
    <!-- Meta, title -->
    <meta charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Matt Bechtel">
    <title>Example Responsive Page</title>

    <!-- Favicon (skipped for this page) -->
    <link rel="icon" href="/resources/img/my-favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="./resources/css/min/main.min.css">
  </head>

  <body>
    <header>
      <h1>Help the Economy. Invest.</h1>  
      <h3>Lend to British Businesses at rates that suit you, and them.</h3>
      <button type="button">Start lending</button>
    </header>

    <main>
      <h2>Marketplace</h2>

      <div id="table-target">

      </div>

      <div id="pagination-control-target">
      </div>

      <!-- table script templates -->
      <!-- Template for medium to large screens-->
      <script type="text/underscore-template" id="table-row-template">
        <div class="table-contents">
        <table>
        <thead>
        <tr>
        <th class="loan-thumbnail"></th>
        <th class="loan-title">Loan Title</th>
        <th class="loan-risk">Risk</th>
        <th class="loan-amount">Amount</th>
        <th class="loan-term">Term</th>
        <th class="loan-av-rate">Av. Rate</th>
        <th class="loan-progress">Progress</th>
        <th class="loan-time-left">Time Left</th>
        </tr>
        </thead>
        <tbody>

        <% _.each(rowData, function(loan) { %>
          <tr>
          <td class="loan-thumbnail"></td>
          <td class="loan-title"><a href="#"><%=loan.title%></a></td>
          <td class="loan-risk"><%=loan.risk%></td>
          <td class="loan-amount">&pound<%=loan.amount%></td>
          <td class="loan-term"><%=loan.term%></td>
          <td class="loan-av-rate"><%=loan.avRate%>%</td>
          <td class="loan-progress"><progress max="100" value=<%=loan.progress%>></progress></td>
          <td class="loan-time-left"><%=loan.timeLeft%></td>
          </tr>
          <% }); %>
        </tbody>
        </table>
        </div>
      </script>

      <!-- Template for smaller screens-->
      <script type="text/underscore-template" id="table-row-template-sm">
        <div class="table-contents">
        <% _.each(rowData, function(loan) { %>
          <div class="loan-row-block">
          <div class="loan-title">
          <a href="#"><%=loan.title%></a>
          </div>    
          <table>
          <thead>
          <tr>
          <th class="loan-risk">Risk</th>
          <th class="loan-amount">Amount</th>
          <th class="loan-term">Term</th>
          <th class="loan-av-rate">Av. Rate</th>
          <th class="loan-time-left">Time Left</th>
          </tr>
          </thead>
          <tbody>
          <tr>
          <td class="loan-risk"><%=loan.risk%></td>
          <td class="loan-amount">&pound<%=loan.amount%></td>
          <td class="loan-term"><%=loan.term%></td>
          <td class="loan-av-rate"><%=loan.avRate%>%</td>
          <td class="loan-time-left"><%=loan.timeLeft%></td>
          </tr>
          </tbody>
          </table>
          </div>
       <% }); %>
       </div>
      </script>

      <!-- Template for pagination controls -->
      <script type="text/underscore-template" id="table-pagination-template">
        <div class="pagination-controls">
        <% _.each(pages, function(page){ %>
          <button type="button" data-page-num=<%=page%>><%=page + 1%></button>
          <% }); %>
        <button type="button" data-page-num="next">Next</button>
        <button type="button" data-page-num="last">Last</button>
        </div>
      </script>

    </main>
    <!-- Vendor Scripts  -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

    <!-- Scripts  -->
    <script src="resources/js/main.js"></script>
    <script src="resources/js/mock_ajax.js"></script>
    <script src="resources/js/table_loader.js"></script>
  </body>

</html>
