// table layout
table {
  margin: auto;
  width: 100%;
}

th {
  text-align: left;
  height: 3em;
  font-weight: normal;
  color: $c-lochmara-blue;
}

th, tr:nth-child(even){
  background-color: lighten($c-cararra-lt-grey, 3%);
}

th, td {
  text-align: right;
  width: 10%;
}
tr {
  background-color: $c-white;
  border-bottom: 1px solid $c-cararra-lt-grey;
  height: 4em;
}

tr:hover {
  background-color: darken($c-cararra-lt-grey, 3%);
}

.loan-progress{
  text-align: center;
  width: 15%;

  progress {
    width: 5em;
    -webkit-appearance:none;
  }
  progress::-webkit-progress-bar {
    background: darken($c-cararra-lt-grey, 10%);
  }
  progress::-webkit-progress-value {
    background-color: $c-sushi-green;
  }
  progress::-moz-progress-bar {
    background-color: $c-sushi-green;
  }
}

.loan-risk {
  text-align: center;
}

.loan-thumbnail {
  width: 5em;
}

td.loan-thumbnail {
    background: $c-dove-grey;
}

.loan-time-left {
  text-align: left;
}

.loan-title {
  text-align: left;
  padding-left: 1.5em;
  width: 30%;
}

// Styling for small screen, block-list table
.loan-row-block {
  background-color: $c-white;
  border-bottom: 5px solid darken($c-cararra-lt-grey, 10%);
  margin: .5em 0 .8em;
  padding: .5em 0;

  .loan-title {
    width: 100%;
    padding: .5em 0; 
    margin-left: 3%;
    font-size: 1.5em;
  }

  .loan-risk {
    width: 5%;
  }

  th, td{
    padding: 0;
    text-align: center;
  }

  th {
    background-color: $c-white;
    color: $c-dove-grey;
  }
  tr {
    height: 2em;
    border: none; 
    font-size: 1em; 
  }
}

